@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}

header{
    border-top: 2px solid black;
    border-bottom: 3px solid rgba(147, 142, 142, 0.8);
    width: 100%;
}

header h1{
    text-align: center;
    padding: 1%;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5;
    font-weight: bolder;
}

main{
    text-align: center;
}

main p{
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3;
}

main img{
    height: 50%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 5%;
}

main h2{
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3;
}

body{
    background-color: silver;
    padding: 1%;
}

footer{
    border-top: 2px solid black;
}

